[Unit]
Description=nubit
After=network.target

[Service]
User=root
WorkingDirectory=/root/nubit-node
ExecStartPre=/bin/bash -c 'cd /root/nubit-node'
ExecStart=/bin/bash /root/nubit-node/start.sh
Restart=always
RestartSec=10
CPUQuota=20%
MemoryLimit=300M

[Install]
WantedBy=multi-user.target
